In [19]:
import pandas as pd
import os
import numpy as np
from IPython.display import clear_output

In [20]:
dataset = pd.read_csv("US30M5.csv", low_memory=False)

In [21]:
dataset

,DateTime,Open,High,Low,Close,TickVolume,DONOTUSE
0,2019.10.08 01:00,26459.4,26464.4,26448.4,26456.4,261,0
1,2019.10.08 01:05,26456.9,26461.4,26453.9,26460.4,78,0
2,2019.10.08 01:10,26460.9,26471.4,26460.4,26469.9,105,0
3,2019.10.08 01:15,26470.4,26473.9,26468.4,26471.4,82,0
4,2019.10.08 01:20,26470.9,26476.9,26470.4,26476.4,56,0
5,2019.10.08 01:25,26475.9,26477.4,26465.4,26466.4,47,0
6,2019.10.08 01:30,26467.4,26474.9,26467.4,26474.9,66,0
7,2019.10.08 01:35,26474.4,26482.4,26474.4,26482.4,85,0
8,2019.10.08 01:40,26483.9,26484.4,26475.9,26478.4,62,0
9,2019.10.08 01:45,26478.9,26482.9,26478.4,26480.4,55,0
10,2019.10.08 01:50,26479.9,26481.4,26475.4,26476.9,65,0
11,2019.10.08 01:55,26475.9,26476.9,26469.9,26469.9,63,0
12,2019.10.08 02:00,26470.9,26471.9,26463.4,26463.9,103,0
13,2019.10.08 02:05,26464.9,26473.4,26464.4,26473.4,57,0
14,2019.10.08 02:10,26472.9,26478.9,26472.4,26476.9,64,0
15,2019.10.08 02:15,26476.4,26481.4,26475.9,26479.9,48,0
16,2019.10.08 02:20,26479.4,26479.9,26470.4,26470.4,31,0
17,2019.10.08 02:25,26470.9,26473.9,26467.9,26472.4,55,0
18,2019.10.08 02:30,26471.9,26473.9,26463.4,26465.4,89,0
19,2019.10.08 02:35,26466.4,26470.4,26464.9,26468.4,81,0
20,2019.10.08 02:40,26468.9,26475.9,26468.4,26475.9,67,0
21,2019.10.08 02:45,26475.4,26484.9,26474.4,26479.9,106,0
22,2019.10.08 02:50,26480.4,26482.9,26472.9,26474.4,78,0
23,2019.10.08 02:55,26473.9,26478.4,26470.4,26472.4,117,0
24,2019.10.08 03:00,26472.9,26482.9,26467.4,26481.4,482,0
25,2019.10.08 03:05,26481.9,26493.9,26481.9,26486.9,514,0
26,2019.10.08 03:10,26487.4,26493.9,26481.9,26486.4,413,0
27,2019.10.08 03:15,26485.9,26495.9,26484.4,26492.9,336,0
28,2019.10.08 03:20,26493.4,26497.4,26487.9,26492.4,335,0
29,2019.10.08 03:25,26492.9,26495.9,26484.4,26491.4,291,0
...,...,...,...,...,...,...,...
99970,2021.02.19 02:05,31474.5,31483.0,31466.5,31478.0,468,0
99971,2021.02.19 02:10,31478.5,31479.0,31466.0,31467.0,382,0
99972,2021.02.19 02:15,31466.5,31486.0,31465.0,31484.5,397,0
99973,2021.02.19 02:20,31484.0,31493.0,31478.0,31488.0,387,0
99974,2021.02.19 02:25,31487.5,31488.5,31476.0,31476.0,252,0
99975,2021.02.19 02:30,31475.5,31482.5,31473.5,31475.0,207,0
99976,2021.02.19 02:35,31475.5,31481.0,31470.5,31472.0,204,0
99977,2021.02.19 02:40,31472.5,31485.0,31466.0,31479.0,255,0
99978,2021.02.19 02:45,31479.5,31484.0,31474.0,31479.0,195,0
99979,2021.02.19 02:50,31479.5,31480.5,31470.0,31476.0,200,0
99980,2021.02.19 02:55,31476.5,31489.5,31473.0,31486.0,270,0
99981,2021.02.19 03:00,31486.5,31516.0,31481.0,31507.5,602,0
99982,2021.02.19 03:05,31507.0,31510.0,31493.5,31495.0,371,0
99983,2021.02.19 03:10,31494.5,31497.5,31471.5,31471.5,460,0
99984,2021.02.19 03:15,31471.0,31484.5,31461.5,31478.5,456,0
99985,2021.02.19 03:20,31479.0,31482.5,31469.0,31470.0,371,0
99986,2021.02.19 03:25,31470.5,31476.0,31434.0,31436.0,583,0
99987,2021.02.19 03:30,31435.5,31435.5,31387.0,31395.0,1165,0
99988,2021.02.19 03:35,31395.5,31421.5,31387.0,31418.5,849,0
99989,2021.02.19 03:40,31419.0,31419.5,31405.0,31409.0,562,0
99990,2021.02.19 03:45,31409.5,31414.0,31399.5,31411.0,546,0
99991,2021.02.19 03:50,31410.5,31421.5,31404.0,31418.0,521,0
99992,2021.02.19 03:55,31417.5,31426.0,31412.5,31424.0,392,0
99993,2021.02.19 04:00,31424.5,31425.5,31414.0,31417.0,480,0
99994,2021.02.19 04:05,31417.5,31423.0,31407.5,31414.0,424,0
99995,2021.02.19 04:10,31415.0,31417.0,31402.5,31406.0,293,0
99996,2021.02.19 04:15,31406.5,31407.5,31379.0,31379.5,466,0
99997,2021.02.19 04:20,31380.5,31388.0,31373.0,31384.5,501,0
99998,2021.02.19 04:25,31383.5,31398.0,31376.5,31396.0,439,0
99999,2021.02.19 04:30,31395.5,31396.5,31379.5,31384.0,324,0

In [25]:
# generate pivot point flag
# definition of pivot points is:
# high is higher than previous high and next high, low is higher than previous low and next low -> peak
# low is lower than previous low and next low, high is lower than previous high and next high -> trough

# create pivot point array where 0 means not a pivot point and 1 means is a pivot point
pivot = [0]
pivotType = [np.nan]
for i in range(1, len(dataset)-1):
    print(str(i+1) + "/" + str(len(dataset)-2), end="\r")
    # check whether point is a peak
    if (float(dataset.loc[i]["High"]) > float(dataset.loc[i+1]["High"])) and (float(dataset.loc[i]["High"]) > float(dataset.loc[i-1]["High"])) and (float(dataset.loc[i]["Low"]) > float(dataset.loc[i+1]["Low"])) and (float(dataset.loc[i]["Low"]) > float(dataset.loc[i-1]["Low"])):
        pivot.append(1)
        pivotType.append("Peak")
    # check whether point is a trough
    elif (float(dataset.loc[i]["High"]) < float(dataset.loc[i+1]["High"])) and (float(dataset.loc[i]["High"]) < float(dataset.loc[i-1]["High"])) and (float(dataset.loc[i]["Low"]) < float(dataset.loc[i+1]["Low"])) and (float(dataset.loc[i]["Low"]) < float(dataset.loc[i-1]["Low"])):
        pivot.append(1)
        pivotType.append("Trough")
    # not a pivot point
    else:
        pivot.append(0)
        pivotType.append(np.nan)
# append the final value as not pivot
pivot.append(0)
pivotType.append(np.nan)

# append pivot and pivotType columns
try:
    dataset.insert(len(dataset.columns), "Pivot", pivot)
    dataset.insert(len(dataset.columns), "PivotType", pivotType)
except ValueError:
    print("Pivot and/or PivotType columns already exist in dataset")

99000/99998

In [62]:
# Generate candle type flag
# Flag is Higher when close is higher than open, Lower when close is lower than open, and Doji when close is equal to open
candleType = []
for i in range(len(dataset)):
    print(str(i+1) + "/" + str(len(dataset)), end="\r")
    if float(dataset.loc[i]["Close"]) > float(dataset.loc[i]["Open"]):
        candleType.append("Higher")
    elif float(dataset.loc[i]["Close"]) < float(dataset.loc[i]["Open"]):
        candleType.append("Lower")
    else:
        candleType.append("Doji")
        
# append pivot and pivotType columns
try:
    dataset.insert(len(dataset.columns), "CandleType", candleType)
except ValueError:
    print("CandleType column already exist in dataset")

In [32]:
# generate dataset of horizontal support and resistance lines
# dataset includes start datetime and price level at each horizontal line, as well as number of rejections from each line
# a horizontal trendline is defined as the price level at a pivot point
# a rejection is defined as either the low reaching lower than horizontal price level, and close is higher than horizontal price level
# or high reaching higher than horizontal price level, and close is lower than horizontal price level
# price level of each horizontal line is the high of a pivot point if pivot point type = 'Peak', and low of a pivot point if pivot point type = 'Trough'

# create all possible horizontal support and resistance lines
horizontalLines = dataset.loc[dataset["Pivot"] == 1].reset_index(drop=True)
horizontalLines["PriceLevel"] = np.where(horizontalLines["PivotType"] == "Peak", horizontalLines["High"], horizontalLines["Low"])

# drop columns
horizontalLines.drop(labels=["Open", "High", "Low", "Close", "TickVolume", "DONOTUSE", "Pivot", "PivotType", "CandleType"], axis="Columns")

RejectionCount = pd.Series([0 for i in range(len(horizontalLines))])
SupportRejectionCount = pd.Series([0 for i in range(len(horizontalLines))]) # candle has low lower than or equal to horizontal price level, and close higher than horizontal price level
ResistanceRejectionCount = pd.Series([0 for i in range(len(horizontalLines))]) # candle has high higher than or equal to horizontal price level, and close lower than horizontal price level
startIndex = int(dataset.loc[dataset['DateTime'] == str(horizontalLines.iloc[0]['DateTime'])].index[0]) + 1

# calculate rejections for each horizontal line using entire candle chart dataset
for i in range(startIndex, len(dataset)):
    # determine range high and low, and type of rejection
    if dataset.loc[i]["CandleType"] == "Higher":
        rangeHigh = float(dataset.loc[i]["High"])
        rangeLow = float(dataset.loc[i]["Close"])
        # indices of horizontal lines where rejection occurs
        indices = horizontalLines.loc[(float(horizontalLines["PriceLevel"]) <= rangeHigh) & (float(horizontalLines["PriceLevel"]) > rangeLow)].index
        # increment rejection count
        RejectionCount.iloc[indices] += 1
        ResistanceRejectionCount.iloc[indices] += 1
    elif dataset.loc[i]["CandleType"] == "Lower":
        rangeHigh = float(dataset.loc[i]["Close"])
        rangeLow = float(dataset.loc[i]["Low"])
        # indices of horizontal lines where rejection occurs
        indices = horizontalLines.loc[(float(horizontalLines["PriceLevel"]) >= rangeLow) & (float(horizontalLines["PriceLevel"]) < rangeHigh)].index
        # increment rejection count
        RejectionCount.iloc[indices] += 1
        SupportRejectionCount.iloc[indices] += 1
    else:
        # for Doji type candles, need to calculate rejection on both sides

C:\Users\Jason\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [49]:
startIndex = int(dataset.loc[dataset['DateTime'] == str(horizontalLines.iloc[0]['DateTime'])].index[0]) + 1

In [50]:
startIndex

13

In [64]:
horizontalLines

,DateTime,Open,High,Low,Close,TickVolume,DONOTUSE,Pivot,PivotType,PriceLevel
12,2019.10.08 02:00,26470.9,26471.9,26463.4,26463.9,103,0,1,Trough,26463.4
15,2019.10.08 02:15,26476.4,26481.4,26475.9,26479.9,48,0,1,Peak,26481.4
21,2019.10.08 02:45,26475.4,26484.9,26474.4,26479.9,106,0,1,Peak,26484.9
28,2019.10.08 03:20,26493.4,26497.4,26487.9,26492.4,335,0,1,Peak,26497.4
29,2019.10.08 03:25,26492.9,26495.9,26484.4,26491.4,291,0,1,Trough,26484.4
36,2019.10.08 04:00,26520.9,26529.9,26520.9,26522.4,330,0,1,Peak,26529.9
40,2019.10.08 04:20,26502.9,26506.9,26499.9,26504.9,275,0,1,Trough,26499.9
49,2019.10.08 05:05,26548.4,26560.9,26547.9,26552.9,572,0,1,Peak,26560.9
50,2019.10.08 05:10,26553.4,26553.9,26545.9,26548.4,283,0,1,Trough,26545.9
55,2019.10.08 05:35,26554.9,26560.9,26553.9,26554.9,278,0,1,Peak,26560.9
56,2019.10.08 05:40,26555.4,26557.4,26549.9,26553.9,250,0,1,Trough,26549.9
57,2019.10.08 05:45,26554.9,26560.9,26552.9,26553.9,245,0,1,Peak,26560.9
58,2019.10.08 05:50,26553.4,26555.4,26550.9,26554.9,185,0,1,Trough,26550.9
64,2019.10.08 06:20,26579.4,26581.4,26574.4,26575.9,194,0,1,Peak,26581.4
83,2019.10.08 07:55,26561.9,26563.9,26559.9,26560.9,74,0,1,Peak,26563.9
92,2019.10.08 08:40,26542.4,26544.4,26538.9,26538.9,127,0,1,Trough,26538.9
102,2019.10.08 09:30,26567.9,26568.4,26556.9,26566.9,208,0,1,Trough,26556.9
109,2019.10.08 10:05,26525.6,26529.6,26516.1,26525.6,755,0,1,Trough,26516.1
111,2019.10.08 10:15,26544.6,26550.1,26540.6,26543.1,551,0,1,Peak,26550.1
114,2019.10.08 10:30,26518.1,26519.6,26503.1,26516.1,821,0,1,Trough,26503.1
115,2019.10.08 10:35,26515.6,26525.6,26506.1,26506.1,485,0,1,Peak,26525.6
148,2019.10.08 13:20,26315.6,26326.6,26292.1,26318.1,1149,0,1,Trough,26292.1
153,2019.10.08 13:45,26315.6,26316.6,26302.6,26315.1,551,0,1,Trough,26302.6
168,2019.10.08 15:00,26297.1,26315.1,26290.6,26310.6,602,0,1,Trough,26290.6
169,2019.10.08 15:05,26311.1,26317.1,26304.6,26308.1,583,0,1,Peak,26317.1
171,2019.10.08 15:15,26298.6,26304.1,26270.1,26291.1,724,0,1,Trough,26270.1
175,2019.10.08 15:35,26284.6,26299.6,26278.6,26289.6,653,0,1,Trough,26278.6
177,2019.10.08 15:45,26306.6,26313.6,26299.6,26304.6,568,0,1,Peak,26313.6
179,2019.10.08 15:55,26304.1,26309.6,26292.6,26297.1,474,0,1,Trough,26292.6
181,2019.10.08 16:05,26306.1,26319.6,26303.1,26311.6,601,0,1,Peak,26319.6
...,...,...,...,...,...,...,...,...,...,...
99846,2021.02.18 15:45,31441.2,31442.7,31409.7,31428.7,808,0,1,Trough,31409.7
99848,2021.02.18 15:55,31433.7,31447.2,31429.7,31434.7,574,0,1,Peak,31447.2
99851,2021.02.18 16:10,31403.2,31409.7,31380.2,31409.7,848,0,1,Trough,31380.2
99856,2021.02.18 16:35,31386.3,31453.8,31373.3,31387.3,1078,0,1,Peak,31453.8
99857,2021.02.18 16:40,31382.8,31402.3,31334.3,31377.3,1103,0,1,Trough,31334.3
99867,2021.02.18 17:30,31340.3,31340.8,31287.8,31314.3,1699,0,1,Trough,31287.8
99873,2021.02.18 18:00,31363.8,31386.3,31339.8,31380.8,1505,0,1,Trough,31339.8
99874,2021.02.18 18:05,31380.3,31398.8,31357.3,31368.3,1351,0,1,Peak,31398.8
99875,2021.02.18 18:10,31368.8,31387.8,31354.8,31386.8,1494,0,1,Trough,31354.8
99883,2021.02.18 18:50,31354.3,31367.3,31345.3,31364.8,971,0,1,Peak,31367.3
99886,2021.02.18 19:05,31337.8,31342.3,31316.3,31335.8,1163,0,1,Trough,31316.3
99890,2021.02.18 19:25,31371.8,31378.3,31364.3,31376.3,906,0,1,Peak,31378.3
99895,2021.02.18 19:50,31388.3,31389.3,31361.8,31369.8,901,0,1,Trough,31361.8
99896,2021.02.18 19:55,31368.8,31394.3,31367.3,31380.3,817,0,1,Peak,31394.3
99897,2021.02.18 20:00,31379.8,31382.8,31360.3,31368.6,932,0,1,Trough,31360.3
99904,2021.02.18 20:35,31490.6,31496.1,31473.1,31481.6,911,0,1,Peak,31496.1
99908,2021.02.18 20:55,31472.1,31485.1,31467.1,31473.1,661,0,1,Trough,31467.1
99910,2021.02.18 21:05,31508.6,31522.1,31499.1,31502.6,806,0,1,Peak,31522.1
99916,2021.02.18 21:35,31533.1,31541.6,31526.1,31532.1,574,0,1,Peak,31541.6
99919,2021.02.18 21:50,31509.6,31512.1,31493.6,31498.1,659,0,1,Trough,31493.6
99925,2021.02.18 22:20,31530.7,31532.7,31513.7,31515.7,578,0,1,Trough,31513.7
99928,2021.02.18 22:35,31527.7,31547.7,31527.7,31531.7,846,0,1,Peak,31547.7
99932,2021.02.18 22:55,31504.2,31506.7,31475.7,31504.7,1243,0,1,Trough,31475.7
99941,2021.02.18 23:40,31509.0,31511.0,31502.0,31509.0,28,0,1,Peak,31511.0
99958,2021.02.19 01:05,31515.5,31525.0,31515.5,31522.0,107,0,1,Peak,31525.0
99969,2021.02.19 02:00,31472.0,31485.0,31468.0,31475.0,498,0,1,Peak,31485.0
99973,2021.02.19 02:20,31484.0,31493.0,31478.0,31488.0,387,0,1,Peak,31493.0
99979,2021.02.19 02:50,31479.5,31480.5,31470.0,31476.0,200,0,1,Trough,31470.0
99990,2021.02.19 03:45,31409.5,31414.0,31399.5,31411.0,546,0,1,Trough,31399.5
99997,2021.02.19 04:20,31380.5,31388.0,31373.0,31384.5,501,0,1,Trough,31373.0

In [61]:
dataset.drop(labels=["CandleType"], axis="columns", inplace=True)

In [59]:
dataset

,DateTime,Open,High,Low,Close,TickVolume,DONOTUSE,Pivot,PivotType,CandleType
0,2019.10.08 01:00,26459.4,26464.4,26448.4,26456.4,261,0,0,NaN,1
1,2019.10.08 01:05,26456.9,26461.4,26453.9,26460.4,78,0,0,NaN,2
2,2019.10.08 01:10,26460.9,26471.4,26460.4,26469.9,105,0,0,NaN,2
3,2019.10.08 01:15,26470.4,26473.9,26468.4,26471.4,82,0,0,NaN,2
4,2019.10.08 01:20,26470.9,26476.9,26470.4,26476.4,56,0,0,NaN,2
5,2019.10.08 01:25,26475.9,26477.4,26465.4,26466.4,47,0,0,NaN,1
6,2019.10.08 01:30,26467.4,26474.9,26467.4,26474.9,66,0,0,NaN,2
7,2019.10.08 01:35,26474.4,26482.4,26474.4,26482.4,85,0,0,NaN,2
8,2019.10.08 01:40,26483.9,26484.4,26475.9,26478.4,62,0,0,NaN,1
9,2019.10.08 01:45,26478.9,26482.9,26478.4,26480.4,55,0,0,NaN,2
10,2019.10.08 01:50,26479.9,26481.4,26475.4,26476.9,65,0,0,NaN,1
11,2019.10.08 01:55,26475.9,26476.9,26469.9,26469.9,63,0,0,NaN,1
12,2019.10.08 02:00,26470.9,26471.9,26463.4,26463.9,103,0,1,Trough,1
13,2019.10.08 02:05,26464.9,26473.4,26464.4,26473.4,57,0,0,NaN,2
14,2019.10.08 02:10,26472.9,26478.9,26472.4,26476.9,64,0,0,NaN,2
15,2019.10.08 02:15,26476.4,26481.4,26475.9,26479.9,48,0,1,Peak,2
16,2019.10.08 02:20,26479.4,26479.9,26470.4,26470.4,31,0,0,NaN,1
17,2019.10.08 02:25,26470.9,26473.9,26467.9,26472.4,55,0,0,NaN,2
18,2019.10.08 02:30,26471.9,26473.9,26463.4,26465.4,89,0,0,NaN,1
19,2019.10.08 02:35,26466.4,26470.4,26464.9,26468.4,81,0,0,NaN,2
20,2019.10.08 02:40,26468.9,26475.9,26468.4,26475.9,67,0,0,NaN,2
21,2019.10.08 02:45,26475.4,26484.9,26474.4,26479.9,106,0,1,Peak,2
22,2019.10.08 02:50,26480.4,26482.9,26472.9,26474.4,78,0,0,NaN,1
23,2019.10.08 02:55,26473.9,26478.4,26470.4,26472.4,117,0,0,NaN,1
24,2019.10.08 03:00,26472.9,26482.9,26467.4,26481.4,482,0,0,NaN,2
25,2019.10.08 03:05,26481.9,26493.9,26481.9,26486.9,514,0,0,NaN,2
26,2019.10.08 03:10,26487.4,26493.9,26481.9,26486.4,413,0,0,NaN,1
27,2019.10.08 03:15,26485.9,26495.9,26484.4,26492.9,336,0,0,NaN,2
28,2019.10.08 03:20,26493.4,26497.4,26487.9,26492.4,335,0,1,Peak,1
29,2019.10.08 03:25,26492.9,26495.9,26484.4,26491.4,291,0,1,Trough,1
...,...,...,...,...,...,...,...,...,...,...
99970,2021.02.19 02:05,31474.5,31483.0,31466.5,31478.0,468,0,0,NaN,2
99971,2021.02.19 02:10,31478.5,31479.0,31466.0,31467.0,382,0,0,NaN,1
99972,2021.02.19 02:15,31466.5,31486.0,31465.0,31484.5,397,0,0,NaN,2
99973,2021.02.19 02:20,31484.0,31493.0,31478.0,31488.0,387,0,1,Peak,2
99974,2021.02.19 02:25,31487.5,31488.5,31476.0,31476.0,252,0,0,NaN,1
99975,2021.02.19 02:30,31475.5,31482.5,31473.5,31475.0,207,0,0,NaN,1
99976,2021.02.19 02:35,31475.5,31481.0,31470.5,31472.0,204,0,0,NaN,1
99977,2021.02.19 02:40,31472.5,31485.0,31466.0,31479.0,255,0,0,NaN,2
99978,2021.02.19 02:45,31479.5,31484.0,31474.0,31479.0,195,0,0,NaN,1
99979,2021.02.19 02:50,31479.5,31480.5,31470.0,31476.0,200,0,1,Trough,1
99980,2021.02.19 02:55,31476.5,31489.5,31473.0,31486.0,270,0,0,NaN,2
99981,2021.02.19 03:00,31486.5,31516.0,31481.0,31507.5,602,0,0,NaN,2
99982,2021.02.19 03:05,31507.0,31510.0,31493.5,31495.0,371,0,0,NaN,1
99983,2021.02.19 03:10,31494.5,31497.5,31471.5,31471.5,460,0,0,NaN,1
99984,2021.02.19 03:15,31471.0,31484.5,31461.5,31478.5,456,0,0,NaN,2
99985,2021.02.19 03:20,31479.0,31482.5,31469.0,31470.0,371,0,0,NaN,1
99986,2021.02.19 03:25,31470.5,31476.0,31434.0,31436.0,583,0,0,NaN,1
99987,2021.02.19 03:30,31435.5,31435.5,31387.0,31395.0,1165,0,0,NaN,1
99988,2021.02.19 03:35,31395.5,31421.5,31387.0,31418.5,849,0,0,NaN,2
99989,2021.02.19 03:40,31419.0,31419.5,31405.0,31409.0,562,0,0,NaN,1
99990,2021.02.19 03:45,31409.5,31414.0,31399.5,31411.0,546,0,1,Trough,2
99991,2021.02.19 03:50,31410.5,31421.5,31404.0,31418.0,521,0,0,NaN,2
99992,2021.02.19 03:55,31417.5,31426.0,31412.5,31424.0,392,0,0,NaN,2
99993,2021.02.19 04:00,31424.5,31425.5,31414.0,31417.0,480,0,0,NaN,1
99994,2021.02.19 04:05,31417.5,31423.0,31407.5,31414.0,424,0,0,NaN,1
99995,2021.02.19 04:10,31415.0,31417.0,31402.5,31406.0,293,0,0,NaN,1
99996,2021.02.19 04:15,31406.5,31407.5,31379.0,31379.5,466,0,0,NaN,1
99997,2021.02.19 04:20,31380.5,31388.0,31373.0,31384.5,501,0,1,Trough,2
99998,2021.02.19 04:25,31383.5,31398.0,31376.5,31396.0,439,0,0,NaN,2
99999,2021.02.19 04:30,31395.5,31396.5,31379.5,31384.0,324,0,0,NaN,1

In [63]:
horizontalLines.iloc[[1, 2, 3, 4]]

,DateTime,Open,High,Low,Close,TickVolume,DONOTUSE,Pivot,PivotType,PriceLevel
15,2019.10.08 02:15,26476.4,26481.4,26475.9,26479.9,48,0,1,Peak,26481.4
21,2019.10.08 02:45,26475.4,26484.9,26474.4,26479.9,106,0,1,Peak,26484.9
28,2019.10.08 03:20,26493.4,26497.4,26487.9,26492.4,335,0,1,Peak,26497.4
29,2019.10.08 03:25,26492.9,26495.9,26484.4,26491.4,291,0,1,Trough,26484.4

In [67]:
RejectionCount = pd.Series([0 for i in range(len(horizontalLines))])

In [70]:
RejectionCount.iloc[[1, 2, 3, 4]]+=1

In [71]:
RejectionCount

0        0
1        1
2        1
3        1
4        1
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
18949    0
18950    0
18951    0
18952    0
18953    0
18954    0
18955    0
18956    0
18957    0
18958    0
18959    0
18960    0
18961    0
18962    0
18963    0
18964    0
18965    0
18966    0
18967    0
18968    0
18969    0
18970    0
18971    0
18972    0
18973    0
18974    0
18975    0
18976    0
18977    0
18978    0
Length: 18979, dtype: int64